.cell {
    position: relative;
    color: rgb(29, 29, 29);
    background-color: rgba(146, 146, 146, 0.61);
    box-shadow: 0px 0px 1px 1px rgba(3, 3, 3, 0.664);
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    left: 0px;
    top: 0px;
}


.cell:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    z-index: 160;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0);
}

.emptyCell {
    font-size: 30px;
    width: 40px;
    height: 40px;
   text-align: center;
   
}


 .cellFall {
    position: absolute;
    animation: animateFall 1s forwards;
    animation-iteration-count: 1; 
    animation-delay: 0.5s;
}




@keyframes animateFall{

    0%,25%{
        top: 0%;
    }
    50%,100%{
        top: 130%;
        transform: rotate(-80deg);
        opacity: 0;
    }
}


.cellMove {
    animation: animateMove 0.3s forwards;
    animation-iteration-count: 1;

}


@keyframes animateMove{

    0%,25%{
        left: 0%;
    }
    50%,100%{
        left: 300%;
    }
}


